* {
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  margin: 0;
}
.error-list {
  padding-left: 20px;
  padding-top: 20px;
}

.errors {
  list-style: none;
}

h1 {
  font-weight: bold;
  margin: 0;
}

h2 {
  text-align: center;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

span {
  font-size: 12px;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

/* sign-up and login form  */

.form-btn {
  border-radius: 20px;
  margin-top: 20px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.close-form {
  display: none;
}

button:active {
  transform: scale(0.95);
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

.session-form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

#container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 28px rgba(0, 0, 0, 0.35), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  top: 160px;
  justify-content: center;
  align-items: center;
  width: 768px;
  max-width: 100%;
  margin: 0 auto;
  min-height: 480px;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  /* animation: show 0.6s; */
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 0;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: #ff416c;
  background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

/* Navbar  */

.toolbar {
  position: fixed;
  border-bottom: 0.4px solid rgba(196, 196, 196, 0.795);
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  height: 81px;
  z-index: 100;
}
.splashbar {
  position: fixed;
  color: white;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  height: 81px;
}

.toolbar__navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}
.splashbar__navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.toolbar__logo {
  margin: 0 auto;
}

.splashbar_logo {
  margin: 0 auto;
}

.spacer {
  flex: 1;
}

.splashbar-spacer {
  flex: 1;
}

.splashbar-navigation-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.splashbar-navigation-items li {
  font-size: 13px;
  padding: 0 0.5rem;
}

.splashbar-navigation-items a {
  color: white !important;
  text-decoration: none;
  padding: 20px;
}

.splashbar-navigation-items a:hover,
.splashbar-navigation-items a:active {
  font-weight: 700;
}

.logo {
  position: relative;
  width: 100px;
}

.splash-logo {
  position: relative;
  width: 100px;
}

@media screen and (max-width: 775px) {
  #container {
    width: 100%;
  }

  #root {
    width: 100%;
  }
}

.App-Component {
  width: 400px;
}

.search-bar-input {
  background: rgba(255, 255, 255, 0.87);
  width: 100%;
  border-bottom: 0.4px solid rgba(196, 196, 196, 0.795);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.73);
  padding: 10px 5px;
  box-sizing: border-box;
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05), 0 5px 8px rgba(0, 0, 0, 0.02);
  overflow-y: auto;
}

.search-bar-input[type="text"] {
  padding-left: 40px;
  font-size: 16px;
  font-weight: 600;
}

.suggestions-list {
  background: white;
  position: absolute;
  list-style-type: none;
  text-align: left;
  margin: 0;
  margin-top: -8px;
  padding: 0;
  max-height: 200px;
  overflow-y: auto;
  border-top-width: 0;
  width: 400px;
  box-shadow: 0 20px 28px rgba(0, 0, 0, 0.35), 0 10px 10px rgba(0, 0, 0, 0.22);
  z-index: 100;
}

.suggestions-list li {
  font-size: 14px;
  padding: 20px 25px;
}

.suggestions-list li:hover {
  background-color: whitesmoke;
  cursor: pointer;
}

.fa,
.fa-search {
  position: absolute;
  top: 32px;
  padding-left: 12px;
}

.left-closeBtn {
  color: #ccc;
  font-size: 40px;
  float: left;
  position: relative;
  font-style: normal;
  font-weight: inherit;
  padding: 10px 30px;
  line-height: 1;
  z-index: 100;
}
.right-closeBtn {
  color: #ccc;
  font-size: 40px;
  float: right;
  position: relative;
  padding: 10px 30px;
  font-style: normal;
  font-weight: inherit;
  line-height: 1;
  z-index: 100;
}

.left-closeBtn:hover,
.right-closeBtn:hover {
  cursor: pointer;
}

.form-header {
  margin: 20px;
}

.splash-container {
  background: transparent;
}

.splash {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.welcome-home {
  position: absolute;
  z-index: 15;
}

.avatar {
  background-color: rgb(242, 242, 242) !important;
  box-shadow: rgb(235, 235, 235) 0px 0px 0px 2px !important;
  display: inline-block !important;
  vertical-align: middle !important;
  width: 28px !important;
  height: 28px !important;
  border-radius: 50% !important;
  overflow: hidden !important;
}

.profile-container img:hover {
  border-bottom: 2px solid rgba(80, 80, 80, 0.534) !important;
}

.profile-container {
  display: inline-block !important;
  vertical-align: middle !important;
  line-height: 1 !important;
  padding: 8px !important;
  border-bottom: 2px solid transparent !important;
  height: 100% !important;
}

.profile-container img {
  cursor: pointer;
}

.profile-dropdown-menu {
  background-color: rgb(255, 255, 255) !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px !important;
  min-width: 282px !important;
  max-width: 950px !important;
  min-height: 40px !important;
  position: absolute !important;
  right: 0px !important;
  border-width: 1px 1px 1px !important;
  border-style: none solid solid !important;
  border-color: rgb(235, 235, 235) rgb(235, 235, 235) rgb(235, 235, 235) !important;
  border-top: none !important;
  top: 81px;
}

.hide-dropdown {
  display: none;
}

.dropdown-menu-display {
  display: block;
}

.profile-dropdown-list {
  list-style: none;
  margin: 0;
  padding: 0 12px;
  height: 100%;
  display: block;
}

.profile-dropdown-list-item {
  padding: 15px 0.5rem;
  border-bottom: 2px solid whitesmoke;
}

.profile-dropdown-list-item a {
  padding: 0 10px;
}
.profile-dropdown-list-item:hover {
  border-bottom: 1px solid rgba(112, 112, 112, 0.534) !important;
}

.navbar-list-items {
  display: flex;
}

.navbar-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-list a {
  color: #484848;
  text-decoration: none;
  padding: 20px;
}

.listing-list {
  margin: 0;
  padding-left: 8px;
  display: inline-block !important;
  vertical-align: top !important;
  white-space: normal !important;
  width: 100% !important;
  position: relative !important;
  color: rgb(72, 72, 72) !important;
  height: 100% !important;
  margin-bottom: 20px !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: rgb(235, 235, 235) !important;
  border-image: initial !important;
  border-radius: 4px !important;
  list-style: none;
}

.individual-listing {
  display: table !important;
  width: 100% !important;
  border-spacing: 0px !important;
}
.map {
  top: 120px;
  position: fixed !important;
  display: block !important;
  right: 0px !important;
  height: calc(100vh - 128px) !important;
  width: 42%;
}

.listing-image {
  display: table-cell !important;
  vertical-align: middle !important;
  position: relative !important;
  z-index: 0 !important;
  width: 300px !important;
  height: 200px !important;
  margin: 4px !important;
  padding: 0;
  position: relative !important;
}

.listing-image img {
  border-radius: 8px;
  vertical-align: middle !important;
}

.listing-details {
  display: table-cell !important;
  width: 100% !important;
  vertical-align: middle !important;
  position: relative;
  padding: 10px;
}

.listing-details li {
  display: flex;
  margin-top: 5px;
}

.listings-body-container {
  width: 100%;
  height: 100%;
}

.listing-details-specific {
  overflow-wrap: break-word !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 1.28571em !important;
  color: rgb(72, 72, 72) !important;
  display: flex;
  padding-right: 40px;
  position: relative;
}
.listing-details-specific li {
  padding: 0 5px;
}

.listings-wrapper {
  display: flex;
  flex-direction: column;
}

.listings-content {
  position: absolute;
  width: 95%;
  top: 120px;
  display: flex;
}
.map-container {
  display: inline-block;
}

.listings-body {
  width: 100%;
  height: 100%;
}

.listing-price {
  position: absolute;
  padding: 20px 14px;
  bottom: 0;
  font-weight: 700;
  right: 0;
}

.listings-rows {
  width: 100%;
}

.listings-page-content {
  width: 58%;
  display: flex;
  position: relative;
  justify-content: center;
}
.listing-review {
  position: absolute;
  padding: 20px 14px;
  bottom: 0;
  left: 0;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 1.28571em !important;
}

.details-breaker {
  line-height: 1.9em !important;
}

.listing-header {
  position: absolute;
  top: 0;
  display: block;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif !important;
  font-size: 15px !important;
  font-weight: 400 !important;
  line-height: 1.28571em !important;
}

.listing-features,
.listing-furnished {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 1.28571em !important;
  padding-left: 4px;
}
