/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "variables";

.booking-form-container {
  box-sizing: border-box;
  width: 400px;
  position: absolute;
  top: 0;
  right: 100px;
  padding: 30px;
  border: 1px solid #e4e4e4 !important;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 12px;

  .booking-form-price {
    font-size: 22px;
    font-weight: 700;
    color: $font-gray;
  }

  .booking-form-price-text {
    margin-right: 5px;
    color: $button-blue;
  }
  .booking-form-text {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 5px;
  }
}

.booking-request-form-container {
  width: 100%;
  font-size: 14px;
  padding-top: 10px;
  margin-bottom: 10px;

  .booking-input {
    background: white !important;
  }

  label {
    display: block;
    font-weight: 400;
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    color: $font-gray;
  }

  .booking-form-input {
    width: 100%;
    border-radius: 2px;
    box-sizing: border-box;
    border: 1px solid #e4e4e4 !important;
    color: $font-gray;
    font-size: 14px;
    padding: 10px;
    background: white;
  }

  input {
    border: 1px solid #e4e4e4 !important;
    background-color: white;
  }

  input:hover,
  input:focus {
    border: 1px solid $pink;
  }

  li {
    color: $pink;
    margin-top: 10px;
  }

  .final-pricing {
    font-family: "Montserrat", sans-serif;
    padding: 4px 0;
  }

  .booking-form-field {
    padding: 20px 0;
    width: 100%;

    input {
      padding: 10px 0 10px 10px;
    }
  }

  .reserve-button {
    padding: 10px 0;
    button {
      width: 100%;
      background: $button-blue;
      font-size: 16px;
      font-weight: 600;
      color: white;
      padding-top: 10px;
      padding-bottom: 10px;
      margin: 0 auto;
      border-color: white;
      border-radius: 4px;
      box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 12px;
    }
    button:hover {
      background: #20a59ece;
    }
  }
}

.charged {
  text-align: center;
}

.hide-cal {
  display: none;
}

.fa-arrow-right {
  top: 38px;
  right: -83px;
  position: relative;
  color: $dark-blue;
}

.fix-search {
  position: fixed;
}

.right-side {
  float: right;
}

.hide-extra-info {
  display: none;
}

.far:hover {
  cursor: pointer;
}

#service {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 12px;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: rgb(235, 235, 235) !important;
  border-image: initial !important;
  border-radius: 4px !important;
  padding: 8px;
  width: 160px;
  background: white;
  position: absolute;
  right: 377px;
  top: 172px;
}

#cleaning {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 12px;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: rgb(235, 235, 235) !important;
  border-image: initial !important;
  border-radius: 4px !important;
  padding: 8px;
  width: 160px;
  background: white;
  position: absolute;
  right: 83px;
  top: 209px;
}

.individual-stars-container i {
  color: $button-blue;
}

.booking-form-stars {
  display: flex;
  margin-bottom: 15px;
  font-size: 10px;
  align-items: center;
}

.p-stars {
  color: $font-gray;
  font-size: 12px;
  margin: 0 0 0 5px;
}

.comment-stars {
  top: 5px;
  position: relative;
}
