/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "variables";

.photo-box {
  display: flex;
  width: 100%;
  height: 50%;
  position: relative;
  top: 69px;
  -moz-transition: all 0.7s;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  border: 2px solid #000;
  overflow: hidden;

  .big-photo-left {
    width: 50%;
    height: calc(100% + 1px);
    border: 2px solid #000;
    background-size: 100% 100%;
    -moz-transition: all 0.7s;
    -webkit-transition: all 0.7s;

    &:hover {
      transform: scale(1.05);
      border: 2px solid #000;
      overflow: hidden;
      filter: brightness(100%);
    }
  }
  .photos {
    width: 25%;
    border: 2px solid #000;
    overflow: hidden;

    .photo-up-1 {
      display: block;
      width: 100%;
      height: 50%;
      border: 2px solid #000;
      background-size: 100% 100%;
      -moz-transition: all 0.7s;
      -webkit-transition: all 0.7s;

      &:hover {
        filter: brightness(100%);
        transform: scale(1.05);
        overflow: hidden;
        width: 100%;
      }
    }
    .photo-up-2 {
      display: block;
      width: 100%;
      height: 50%;
      border: 2px solid #000;
      background-size: 100% 100%;
      -moz-transition: all 0.7s;
      -webkit-transition: all 0.7s;

      &:hover {
        filter: brightness(100%);
        transform: scale(1.05);
        border: 2px solid #000;
        overflow: hidden;
        width: 100%;
      }
    }
    .photo-down-1 {
      display: block;
      width: 100%;
      height: 50%;
      border: 2px solid #000;
      background-size: 100% 100%;
      -moz-transition: all 0.7s;
      -webkit-transition: all 0.7s;

      &:hover {
        filter: brightness(100%);
        transform: scale(1.05);
        border: 2px solid #000;
        overflow: hidden;
        width: 100%;
      }
    }
    .photo-down-2 {
      display: block;
      width: 100%;
      height: 50%;
      border: 2px solid #000;
      background-size: 100% 100%;
      -moz-transition: all 0.7s;
      -webkit-transition: all 0.7s;

      &:hover {
        filter: brightness(100%);
        transform: scale(1.05);
        border: 2px solid #000;
        overflow: hidden;
        width: 100%;
      }
    }
  }
}

// .listing-show-image {
//   max-width: 100vw;
//   height: 79vh;
//   background-repeat: no-repeat;
//   background-size: 100% 100%;
//   padding: 0;
// }

// .listing-show-photo-container {
//   height: 100%px;
//   width: 100%;
//   box-sizing: border-box;
//   overflow: hidden;
//   display: grid;
//   grid-template-columns: 2fr 1fr 1fr;
//   z-index: 2;
// }

.listing-show-photo-container img {
  max-height: 100%;
  max-width: 100%;
  -moz-transition: all 0.7s;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.listing-show-photo-container img:hover {
  transform: scale(1.05);
}

.listing-show-photo-container:hover img {
  filter: brightness(55%);
}

.listing-show-photo-container:hover img:hover {
  filter: brightness(100%);
}

.listing-show-photo-left-container {
  border: 2px solid #000;
}

.listing-show-photo-left-container,
.listing-show-photo-middle-container,
.listing-show-photo-right-container {
  width: 100%;
}

.listing-show-photo-left-container {
  border: 2px solid #000;
  overflow: hidden;
}

.listing-show-photo-left-container img,
.listing-show-photo-middle-container img,
.listing-show-photo-right-container img {
  height: 100%;
}
