/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "variables";

.booking-listing-item-container {
  text-align: center;
  line-height: 30px;
  box-sizing: border-box;
}

.booking-listing-item-container img {
  height: 250px;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 12px;
}

.user-booking-ul {
  width: 90%;
  margin: auto;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 33% [col-start]);
  grid-column-gap: 30px;
  grid-row-gap: 50px;
}

.subheader {
  text-align: center;
  margin: 50px;
  font-size: 27px;
  font-weight: 700;
}

.booking-text {
  line-height: 20px;
}

.booking-image {
  height: 200px;
  width: 375px;
  background-size: 375px 200px;
  background-repeat: no-repeat;
  border-radius: 3px;
  border: 1px solid white;
}

.booking-submit-button {
  width: 100%;
  background: $button-blue;
  padding: 10px 0;
  font-size: 16px;
  font-weight: 600;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
  border-color: white;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 12px;

  &:hover {
    background: #20a59ece;
  }
}

.comment-delete-button {
  width: 150px;
  background: $button-blue;
  padding: 10px 0;
  font-size: 13px;
  font-weight: 400;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  border-color: $button-blue;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 12px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 12px;

  &:hover {
    background: #20a59ece;
  }
}
